* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a2035; 
    color: white;
    font-family: sans-serif;
}

nav {  
    position: absolute;
    top: 0;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background-color: transparent;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}
.login-button {
    background-color: goldenrod; 
    padding: 8px 20px;
    border-radius: 20px; 
}

.search-button {
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 20px;
}

.banner {
    height: 70vh;
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0)),
    url('/static/images/damien-creatz-navtPflashE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;             
    justify-content: center;    
    align-items: center;        
    text-align: center;

    padding-bottom: 400px;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #243046;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #1a2035; 
    color: white;
}

.login-form button {
    background-color: goldenrod;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-form label {
    margin-bottom: 10px;
}

.login-form p a {
    color: white;
}

footer {
    min-height: 100%;
    text-align: center;
    padding: 5px;
}