<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- links our style.css -->

</head>

<body>
    <nav>
        <div class="nav-links"> <!-- all of the nav links in our home page-->
            <a href="/">Back Home</a>
        </div>
    </nav>

    <div class="dashboard-container">
        <h1>About Project</h1>

        <div class="profile-section">
            <h2></h2>
            <div class="profile-card">
                <p>
                    Project made for CS331 taught by Prof Canan Eren for the Fall 2025 Semester at NJIT
                </p>
            </div>
        </div>

        <div class="profile-section" style="margin-top: 30px;">
            <h2>Group 23</h2>
            <div class="profile-card">
                <ul>
                    <li> <strong>Marc Mullaly</strong></li>
                    <li><strong>Sergio Tapia</strong></li>
                    <li><strong>Steven Santos</strong></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>