<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Cars</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- links our style.css -->
</head>

<body>

    <nav>
        <div class="nav-links">
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>


    <div class="dashboard-container">
        <h1>Rent a Car!</h1>

        <div class="car-grid">

            {% for car in cars %}
            <div class="car-card">
                <div class="car-info">
                    <h2>{{ car.brand }} {{ car.model }}</h2>
                    <p>Year: {{ car.year }}</p>
                    <p>Type: {{ car.category }}</p>
                    <p>Branch Location: {{ car.location}} </p>

                    <p class="status">Status: {{ car.status }}</p>

                    {% if car.status.lower() == 'available' %}
                    <a href="{{ url_for('RentCar', car_id=car.carID) }}" class="rent-button">Rent Now</a>

                    {% elif car.status.lower()=='rented' %}
                    <button class="disabled-btn" disabled>Rented</button>

                    {% elif car.status.lower()=='under maintenance' %}
                    <button class="disabled-btn" disabled>Under Maintenance</button>

                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</body>

</html>