<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="/">Home</a> <!--Links us back to home page-->
        </div>
    </nav>
    <div class="dashboard-container">
        <h1>Welcome, {{ profile.firstName }}!</h1>
        <div>
            <a href="/cars" class="dashboard-button">View Available Cars</a>
            <a href="/payment" class="dashboard-button">Make A Payment</a>
        </div>
        <div class="profile-section">
            <h2>My Profile</h2>
            <div class="profile-card">
                <p><strong>Name:</strong> {{ profile.firstName }} {{ profile.lastName }}</p>
                <p><strong>Email:</strong> {{ profile.email }}</p>
                <p><strong>Phone:</strong> {{ profile.phone }}</p>
                <p><strong>Address:</strong> {{ profile.address }}</p>
            </div>
        </div>

        <div class="rental-section">
            <h2>My Rental History</h2>

            <div class="table-container">
                {% if rentals %}
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Car</th>
                            <th>Plate</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rent in rentals %}
                        <tr>
                            <td>{{ rent.car_name }}</td>
                            <td>{{ rent.plate }}</td>
                            <td>{{ rent.start }}</td>
                            <td>{{ rent.end }}</td>
                            <td>${{ rent.cost }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>You haven't rented any cars yet.</p>
            {% endif %}
        </div>
    </div>

</body>

</html>