<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <div class="Company-Name">Car Rental</div>
        <div class="nav-links">
            <a href="#">Help</a>
            <a href="#">Admin</a>
            <a href="#">About</a>
            <a href="#" class="search-button">Search</a>
            <a href="/login" class="login-button">Login</a>
        </div>
    </nav>
    <header class="banner">
        <div class="banner-content">
            <h1>Welcome to our Car Rental System</h1>
        </div>
    </header>
</body>

</html>