<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="login-container">
        <nav>
            <div class="nav-links">
                <a href="/">Home</a> <!--Links us back to home page-->
            </div>
        </nav>
        <form action="/login" method="POST" class="login-form"> <!--Login form, using post since most secure-->
            <h2>Welcome Back</h2>

            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}

            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" required>

            <button type="submit">Login</button>

            <p>Don't have an account? <a href="{{ url_for('Register') }}">Register</a></p>
        </form>
    </div>
</body>

</html>